* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
    /* font-family: 'Times New Roman', Times, serif; */
}

body {
    background-color: #f8f8f8;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 0.1px;
}

#nav {
    height: 11vh;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h1 {
    height: 100%;
    width: 22%;
    display: flex;
    font-size: 3vw;
    align-items: center;
    justify-content: center;
    font-family: monument;
    text-transform: lowercase;
    letter-spacing: -1px;
    position: relative;

}

#nav h1::after {
    content: "\00A9";
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 20px;
    position: absolute;
    top: 10%;
    right: 10%;
}

#nav h1::before {
    content: "model mangement";
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 22px;
    position: absolute;
    bottom: 10%;
    right: 40%;
    color: rgb(0, 0, 0);
}

#nav h2 {
    /* background-color: rgb(66, 157, 237); */
    height: 100%;
    width: 20%;
    font-size: 1.50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-right: 2px solid black;

}

#nav h2:nth-last-child(1) {
    width: 10%;
}

#nav h2:nth-last-child(2) {
    width: 30%;
}

#nav h3 {
    display: none;
}

#center {
    height: 80vh;
    width: 100%;
    /* background-color: aqua; */
    position: relative;
    padding: 2vw;

}

#content {
    height: 100%;
    width: 100%;
    /* background-color: azure; */
    position: relative;
    position: relative;

}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

#overlay {
    height: 52%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: aquamarine; */
    padding: 3vw;

}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
}

#over1 h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    color: #fff;
    mix-blend-mode: difference;
    /* background-color: antiquewhite; */
}

#over1 h2 {

    font-size: 1vw;
    padding: 2vw 2.2vw;
    /* background-color: aqua; */
    border-radius: 50%;
    color: #fff;

    border: 1px solid #fff;
    border-bottom: 5px rgb(215, 213, 213);

}

#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;

}

#over2 h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.45vw;
    color: #fff;
    mix-blend-mode: difference;
}

#over2 img {
    height: 3vw;
}

#scroll {
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    padding: 1vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#scroll-img {
    height: 100%;
    width: 110%;
    /* background-color: aqua; */
    display: inline-block;
    padding: 1vw;
    animation-name: anime;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img {
    /* display: none; */
    height: 80%;
    width: 12%;
    /* margin-right:1vw ; */
    border-radius: 50%;
    object-fit: cover;
    object-position: 0% 10%;
}

@keyframes anime {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#alpha {
    height: 10vh;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#alpha h5 {
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid rgb(0, 0, 0);
}

#alpha h6 {
    font-size: 1vw;
    text-transform: uppercase;
    /* background-color: red ; */
    border: 1px solid rgba(0, 0, 0, 0);
    transition: ease 1s;
    border-radius: 50%;
    padding: 0.6vw 0.8vw;
    font-style: italic;
    cursor: pointer;
}

#alpha h6:hover {
    border: 1px solid rgb(236, 125, 125);

}

#page2 {
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 5vw;

}

#parge2part1 {
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-image: url("https://i.pinimg.com/1200x/d9/e9/fa/d9e9fa326f3e2a2f0da777b7b26dc76c.jpg");
    color: #fff;
    display: flex;
    align-items: flex-end;
    padding: 2vw;
}

#parge2part1 h1 {
    font-size: 3vw;
}

#parge2part2 {
    height: 100%;
    width: 46%;
    display: flex;
    /* background-color: red; */
    flex-direction: column;
    align-items: center;
}

.text {
    display: flex;
    align-items: flex-start;
    gap: 1vw;
}

.text h3 {
    width: 30%;
    text-align: left;
    /* left column */
    font-size: 1.2vw;
    font-weight: 600;
}

.text p {
    width: 70%;
    /* right column */
    font-size: 0.9vw;
    line-height: 1.4;
    color: #0c0c0c;
}

#parge2part2 img {
    height: 70%;
    width: 100%;
    background-position: 0% 35%;
    object-fit: cover;
}



#page3 {
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    position: relative;
    padding: 5vw 4vw;
}

#page3>h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    /* font-weight: 200; */
    text-transform: uppercase;
    font-size: 2.56vw;
    margin-bottom: 7vh;

}

.elem {
    height: 15vh;
    width: 100%;
    /* background-color: rgb(44, 133, 210); */
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    position: relative;

}

.elem img {
    height: 100px;
    width: 100px;
    position: absolute;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    opacity: 0;
    transition: all ease 0.7s;
    left: 25%;
}

.elem:nth-child(2n) img {
    left: 10%;
}

.elem:nth-child(1n):hover {
    background-color: rgba(237, 244, 217, 0.46);

}

.elem:nth-child(2n):hover {
    background-color: rgba(199, 228, 238, 0.46);

}

.elem:hover img {
    opacity: 1;
    left: 15%;
}

.elem h4 {
    font-size: 1.2vw;
    text-transform: uppercase;
    width: 6px;
    /* background-color: aqua; */
}

.elem .elem-2 {
    width: 40%;
    /* background-color: gold; */
}

.elem .elem-2 h1 {
    font-size: 2.3vw;
    font-weight: 600;
}

.elem .elem-2 h5 {
    font-size: 1vw;
    font-weight: 600;
    text-transform: uppercase;
}

.elem:nth-last-child(1) {
    border-bottom: 2px solid black;
}

#marq {
    /* height: 15vh; */
    width: 100%;
    padding: 1vw;
    /* background-color: aqua; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;


}

#marq h1 {
    margin-right: 20px;
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: 'Times New Roman', Times, serif;
    animation-name: marq;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s;

}

@keyframes marq {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 24px));

    }
}

#footer {
    width: 100%;
    height: 20%;
}

@media (max-width:600px) {
    body {
        overflow-x: hidden;
    }

    #main {
        height: 100%;
        width: 100%;
        background-color: #f8f8f8;
        position: relative;
        padding-top: 0.1px;
    }

    #nav {
        height: 8vh;
        margin-top: 20px;
        padding: 0 5vw;
    }

    #nav h1 {
        width: 40%;
        font-size: 4vw;
        justify-content: flex-start;
    }

    #nav h1::after {
        display: none;
    }

    #nav h1::before {
        display: none;
    }

    #nav h3 {
        display: block;
    }

    #nav h2 {
        display: none;
    }


    #center {
        height: 40vh;
        width: 100%;
        /* background-color: aqua; */
        position: relative;
        padding: 2vw;

    }

    #content {
        height: 100%;
        width: 100%;
        /* background-color: azure; */
        position: relative;
        position: relative;

    }

    #content video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    #overlay {
        height: fit-content;
    }

    #over1 {
        margin-bottom: 2vh;
    }

    #over1 h1 {
        font-size: 5vw;
    }

    #over1 h2 {
        font-size: 2vw;
    }

    #over2 h1 {
        font-size: 3.45vw;
    }

    #over2 img {
        height: 5vw;
    }


    #scroll {
        height: 12vh;
        width: 100%;
    }


    #alpha {
        height: 10vh;
        width: 100%;
        gap: 0.6vw;

    }

    #alpha h5 {
        font-size: 2vw;

    }

    #alpha h6 {
        font-size: 1.65vw;

    }


    #page2 {
        height: 50%;

    }

    #parge2part1 {
        height: 90%;

    }

    #parge2part1 h1 {
        font-size: 3vw;
    }





    .text {
        display: flex;
        align-items: flex-start;

        gap: 2vw;
    }

    .text h3 {
        font-size: 1.8vw;

    }

    .text p {
        width: 70%;
        /* right column */
        font-size: 1.4vw;

    }


    #page3 {
        height: 80%;
        padding: 2vw 2vw;
    }

    #page3>h1 {

        font-size: 3.56vw;
        margin-bottom: 4vh;

    }



    .elem img {
        height: 80px;
        width: 80px;
    }

    .elem h4 {
        font-size: 2.2vw;
    }

    .elem .elem-2 {
        width: 40%;
        /* background-color: gold; */
    }

    .elem .elem-2 h1 {
        font-size: 3.3vw;
        font-weight: 600;
    }

    .elem .elem-2 h5 {
        font-size: 1.86vw;
    }



    #marq h1 {

        font-size: 6vw;

    }


    #footer {
        width: 100%;
        height: 10%;
    }







}